<!DOCTYPE html>
<html ng-app="mainapp">
<head>
	<base href="/">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<!-- Basic -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<title>CloudEmotionTeam</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./assets/img/png/cloud.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="./assets/img/png/cloud.png">
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Web Fonts  -->
	<link href="./assets/css/css" rel="stylesheet" type="text/css">

	<link href="./assets/production/dev_css/main.min.css" rel="stylesheet">
    <!-- Head Libs -->
    <script src="./assets/js/modernizr.min.js"></script>  
</head>
	<body data-spy="scroll" data-target=".wrapper-spy" ng-controller="MainCtrl as vm">
		<data ui-view></data>
		
		<script src="./assets/production/dev_js/scripts.js"></script>



<!-- ANGULAR FILES -->

<script src="./core/app.js"></script>
<script src="./core/main.controller.js"></script>
<!--HELPER  -->
<script src="./components/commons/helpers/validator.helper.js"></script>
<script src="./components/commons/helpers/url.helper.js"></script>

<!-- DIRECTIVE -->
<script src="./components/commons/directives/header.directive.js"></script>
<script src="./components/commons/directives/menu.directive.js"></script>
<script src="./components/commons/directives/footer.directive.js"></script>

<!--SERVICES   -->
<script src="./components/commons/services/portfolio.service.js"></script>

<!-- CONTROLLER -->
<script src="./components/cv/cv.controller.js"></script>

<!-- CORE -->
<script src="./core/routes.js"></script>


</body>
</html>