    
        <div class="loaderN">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
        <div class="nucleus"></div>
        </div>
        <div class="loaderN">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
        <div class="nucleus"></div>
        </div>
        <div class="loaderN">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
        <div class="nucleus"></div>
        </div>
