
html, body {height: 100%;}

body {
	background: #eee;
}

#atomo {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(.3);
	-webkit-animation: subeybaja 1s ease-in-out infinite alternate;	
}

@-webkit-keyframes subeybaja {
	
	from {
		top:46%;
	}
	
	to {
		top: 54%;
	}
	
}

#nucleo {
	height: 400px ;
	width: 400px;
	background-image: url('images/CLOUD.png');
	/*border-radius: 2000px;*/
	position: absolute;
	margin: -100px 0 0 -100px;
	/*box-shadow: inset -40px -40px 70px #333;*/
	/*border: 1px solid #111;*/
}

.electron{
	width: 80px;
	height:80px;
	position: absolute;
	/*background-image: url('images/emoji4.png');*/
	margin: -20px 0 0 -20px;
	left:-300px;
	border-radius: 2000px;
	-webkit-animation: movimiento 2s ease-in-out infinite,
					   agrandar 2s linear infinite;
	z-index: 1;
}


.electron.b {
	background-image: url('images/ANDROID80.png');
}

.electron.c {
	background-image: url('images/WORDPRESS80.png');
}

.electron.d {
	background-image: url('images/MAILCHIMP80.png');
}

.electron.e {
	background-image: url('images/SEO80.png');
}

.electron.f {
	background-image: url('images/DJANGO80.png');
}

.electron.g {
	background-image: url('images/IOS80.png');
}



@-webkit-keyframes movimiento {
	
	49.9% {
		z-index: 1;
	}
	50% {
		left:300px;
		z-index: -1;
	}
	
	100% {
		z-index: -1;
	}
	
}

@-webkit-keyframes agrandar {
	
	
	25% {
		transform: scale(2.5);
	}
	
	
	75% {
		transform: scale(0.6);
	}
	
}

.electron:nth-child(2) {display: none;}
.electron:nth-child(3), .electron:nth-child(6){
	-webkit-animation: movimiento 3.9s ease-in-out infinite,
					   agrandar 1.7s linear infinite ,
					   movimiento2 2.2s ease-in-out infinite;
	top: -200px;
}

@-webkit-keyframes movimiento2 {
	
	50% {
	top: 200px;
	}
}

.electron:nth-child(4), .electron:nth-child(7) {
	-webkit-animation: agrandar 1.7s linear infinite ,
					   movimiento2 3.9s ease-in-out infinite,
					   movimiento3 2.3s ease-in-out infinite;
	left: 450px;
	top: -200px;
	z-index: 1;
}

@-webkit-keyframes movimiento3 {
	
	49.9% {
		z-index: 1;
	}
	50% {
		left: -250px;
		z-index: -1;
	}
	
	100% {
		z-index: -1;
	}
}

.electron:nth-child(5), .electron:nth-child(8) {
	
	top: 200px;
	left: 450px;
	-webkit-animation:movimiento3 3.9s ease-in-out infinite,
					  agrandar 1.7s linear infinite ,
					  movimiento4 2.3s ease-in-out infinite;
	
}

@-webkit-keyframes movimiento4 {
	
	49.9% {
		z-index: 1;
	}
	50% {
		top: -200px;
		z-index: -1;
	}
	
	100% {
		z-index: -1;
	}
}

.electron:nth-child(n+6) {
	-webkit-animation-delay: .5s;
}