

.flag, .f32{

	background-size: 448px 320px;
	width: 33px;
	height: 21px;
}
.f32{
	text-indent: 99999px;
}

.flag{
    background-image:url(../../assets/img/flags_32.png);
	text-indent: 99999px;
	display: inline-block;
}
.f32 .af{background-position:-32px 0px;}
.f32 .ax{background-position:-64px 0px;}
.f32 .al{background-position:-96px 0px;}
.f32 .dz{background-position:-128px 0px;}
.f32 .as{background-position:-160px 0px;}
.f32 .ad{background-position:-192px 0px;}
.f32 .ao{background-position:-224px 0px;}
.f32 .ai{background-position:-256px 0px;}
.f32 .aq{background-position:-288px 0px;}
.f32 .ag{background-position:-320px 0px;}
.f32 .ar{background-position:-352px 0px;}
.f32 .am{background-position:-384px 0px;}
.f32 .aw{background-position:-416px 0px;}
.f32 .au{background-position:0px -20px;}
.f32 .at{background-position:-32px -20px;}
.f32 .az{background-position:-64px -20px;}
.f32 .bs{background-position:-96px -20px;}
.f32 .bh{background-position:-128px -20px;}
.f32 .bd{background-position:-160px -20px;}
.f32 .bb{background-position:-192px -20px;}
.f32 .by{background-position:-224px -20px;}
.f32 .be{background-position:-256px -20px;}
.f32 .bz{background-position:-288px -20px;}
.f32 .bj{background-position:-320px -20px;}
.f32 .bm{background-position:-352px -20px;}
.f32 .bt{background-position:-384px -20px;}
.f32 .bo{background-position:-416px -20px;}
.f32 .ba{background-position:0px -40px;}
.f32 .bw{background-position:-32px -40px;}
.f32 .br{background-position:-64px -40px;}
.f32 .bn{background-position:-96px -40px;}
.f32 .bg{background-position:-128px -40px;}
.f32 .bf{background-position:-160px -40px;}
.f32 .bi{background-position:-192px -40px;}
.f32 .kh{background-position:-224px -40px;}
.f32 .cm{background-position:-256px -40px;}
.f32 .ca{background-position:-288px -40px;}
.f32 .cv{background-position:-320px -40px;}
.f32 .ky{background-position:-352px -40px;}
.f32 .cf{background-position:-384px -40px;}
.f32 .td{background-position:-416px -40px;}
.f32 .cl{background-position:0px -60px;}
.f32 .cn{background-position:-32px -60px;}
.f32 .cx{background-position:-64px -60px;}
.f32 .cc{background-position:-96px -60px;}
.f32 .co{background-position:-128px -60px;}
.f32 .km{background-position:-160px -60px;}
.f32 .cg{background-position:-192px -60px;}
.f32 .cd{background-position:-224px -60px;}
.f32 .ck{background-position:-256px -60px;}
.f32 .cr{background-position:-288px -60px;}
.f32 .ci{background-position:-320px -60px;}
.f32 .hr{background-position:-352px -60px;}
.f32 .cu{background-position:-384px -60px;}
.f32 .cy{background-position:-416px -60px;}
.f32 .cz{background-position:0px -80px;}
.f32 .dk{background-position:-32px -80px;}
.f32 .dj{background-position:-64px -80px;}
.f32 .dm{background-position:-96px -80px;}
.f32 .do{background-position:-128px -80px;}
.f32 .ec{background-position:-160px -80px;}
.f32 .eg{background-position:-192px -80px;}
.f32 .sv{background-position:-224px -80px;}
.f32 .gq{background-position:-256px -80px;}
.f32 .er{background-position:-288px -80px;}
.f32 .ee{background-position:-320px -80px;}
.f32 .et{background-position:-352px -80px;}
.f32 .fk{background-position:-384px -80px;}
.f32 .fo{background-position:-416px -80px;}
.f32 .fj{background-position:0px -100px;}
.f32 .fi{background-position:-32px -100px;}
.f32 .fr{background-position:-64px -100px;}
.f32 .pf{background-position:-96px -100px;}
.f32 .ga{background-position:-128px -100px;}
.f32 .gm{background-position:-160px -100px;}
.f32 .ge{background-position:-192px -100px;}
.f32 .de{background-position:-224px -100px;}
.f32 .gh{background-position:-256px -100px;}
.f32 .gi{background-position:-288px -100px;}
.f32 .gr{background-position:-320px -100px;}
.f32 .gl{background-position:-352px -100px;}
.f32 .gd{background-position:-384px -100px;}
.f32 .gu{background-position:-416px -100px;}
.f32 .gt{background-position:0px -120px;}
.f32 .gg{background-position:-32px -120px;}
.f32 .gw{background-position:-64px -120px;}
.f32 .gn{background-position:-96px -120px;}
.f32 .gy{background-position:-128px -120px;}
.f32 .ht{background-position:-160px -120px;}
.f32 .hn{background-position:-192px -120px;}
.f32 .hk{background-position:-224px -120px;}
.f32 .hu{background-position:-256px -120px;}
.f32 .is{background-position:-288px -120px;}
.f32 .in{background-position:-320px -120px;}
.f32 .id{background-position:-352px -120px;}
.f32 .ir{background-position:-384px -120px;}
.f32 .iq{background-position:-416px -120px;}
.f32 .ie{background-position:0px -140px;}
.f32 .im{background-position:-32px -140px;}
.f32 .il{background-position:-64px -140px;}
.f32 .it{background-position:-96px -140px;}
.f32 .jm{background-position:-128px -140px;}
.f32 .jp{background-position:-160px -140px;}
.f32 .je{background-position:-192px -140px;}
.f32 .jo{background-position:-224px -140px;}
.f32 .kz{background-position:-256px -140px;}
.f32 .ke{background-position:-288px -140px;}
.f32 .ki{background-position:-320px -140px;}
.f32 .kp{background-position:-352px -140px;}
.f32 .kr{background-position:-384px -140px;}
.f32 .kw{background-position:-416px -140px;}
.f32 .kg{background-position:0px -160px;}
.f32 .la{background-position:-32px -160px;}
.f32 .lv{background-position:-64px -160px;}
.f32 .lb{background-position:-96px -160px;}
.f32 .ls{background-position:-128px -160px;}
.f32 .lr{background-position:-160px -160px;}
.f32 .ly{background-position:-192px -160px;}
.f32 .li{background-position:-224px -160px;}
.f32 .lt{background-position:-256px -160px;}
.f32 .lu{background-position:-288px -160px;}
.f32 .mo{background-position:-320px -160px;}
.f32 .mk{background-position:-352px -160px;}
.f32 .mg{background-position:-384px -160px;}
.f32 .mw{background-position:-416px -160px;}
.f32 .my{background-position:0px -180px;}
.f32 .mv{background-position:-32px -180px;}
.f32 .ml{background-position:-64px -180px;}
.f32 .mt{background-position:-96px -180px;}
.f32 .mh{background-position:-128px -180px;}
.f32 .mr{background-position:-160px -180px;}
.f32 .mu{background-position:-192px -180px;}
.f32 .mx{background-position:-224px -180px;}
.f32 .fm{background-position:-256px -180px;}
.f32 .md{background-position:-288px -180px;}
.f32 .mc{background-position:-320px -180px;}
.f32 .mn{background-position:-352px -180px;}
.f32 .me{background-position:-384px -180px;}
.f32 .ma{background-position:-416px -180px;}
.f32 .mz{background-position:0px -200px;}
.f32 .mm{background-position:-32px -200px;}
.f32 .na{background-position:-64px -200px;}
.f32 .nr{background-position:-96px -200px;}
.f32 .np{background-position:-128px -200px;}
.f32 .nl{background-position:-160px -200px;}
.f32 .nz{background-position:-192px -200px;}
.f32 .ni{background-position:-224px -200px;}
.f32 .ne{background-position:-256px -200px;}
.f32 .ng{background-position:-288px -200px;}
.f32 .nu{background-position:-320px -200px;}
.f32 .nf{background-position:-352px -200px;}
.f32 .no{background-position:-384px -200px;}
.f32 .om{background-position:-416px -200px;}
.f32 .pk{background-position:0px -220px;}
.f32 .pw{background-position:-32px -220px;}
.f32 .ps{background-position:-64px -220px;}
.f32 .pa{background-position:-96px -220px;}
.f32 .pg{background-position:-128px -220px;}
.f32 .py{background-position:-160px -220px;}
.f32 .pe{background-position:-192px -220px;}
.f32 .ph{background-position:-224px -220px;}
.f32 .pl{background-position:-256px -220px;}
.f32 .pt{background-position:-288px -220px;}
.f32 .pr{background-position:-320px -220px;}
.f32 .qa{background-position:-352px -220px;}
.f32 .ro{background-position:-384px -220px;}
.f32 .ru{background-position:-416px -220px;}
.f32 .rw{background-position:0px -240px;}
.f32 .sh{background-position:-32px -240px;}
.f32 .kn{background-position:-64px -240px;}
.f32 .lc{background-position:-96px -240px;}
.f32 .vc{background-position:-128px -240px;}
.f32 .ws{background-position:-160px -240px;}
.f32 .sm{background-position:-192px -240px;}
.f32 .st{background-position:-224px -240px;}
.f32 .sa{background-position:-256px -240px;}
.f32 .sn{background-position:-288px -240px;}
.f32 .rs{background-position:-320px -240px;}
.f32 .sc{background-position:-352px -240px;}
.f32 .sl{background-position:-384px -240px;}
.f32 .sg{background-position:-416px -240px;}
.f32 .sk{background-position:0px -260px;}
.f32 .si{background-position:-32px -260px;}
.f32 .sb{background-position:-64px -260px;}
.f32 .so{background-position:-96px -260px;}
.f32 .za{background-position:-128px -260px;}
.f32 .ss{background-position:-160px -260px;}
.f32 .en{background-position:-198px -273px;}
.f32 .lk{background-position:-224px -260px;}
.f32 .sd{background-position:-256px -260px;}
.f32 .sr{background-position:-288px -260px;}
.f32 .sz{background-position:-320px -260px;}
.f32 .se{background-position:-352px -260px;}
.f32 .ch{background-position:-384px -260px;}
.f32 .sy{background-position:-416px -260px;}
.f32 .tw{background-position:0px -280px;}
.f32 .tj{background-position:-32px -280px;}
.f32 .tz{background-position:-64px -280px;}
.f32 .th{background-position:-96px -280px;}
.f32 .tl{background-position:-128px -280px;}
.f32 .tg{background-position:-160px -280px;}
.f32 .to{background-position:-192px -280px;}
.f32 .tt{background-position:-224px -280px;}
.f32 .tn{background-position:-256px -280px;}
.f32 .tr{background-position:-288px -280px;}
.f32 .tm{background-position:-320px -280px;}
.f32 .tc{background-position:-352px -280px;}
.f32 .tv{background-position:-384px -280px;}
.f32 .ug{background-position:-416px -280px;}
.f32 .ua{background-position:0px -300px;}
.f32 .ae{background-position:-32px -300px;}
.f32 .gb{background-position:-64px -300px;}
.f32 .es{background-position:-99px -315px;}
.f32 .uy{background-position:-128px -300px;}
.f32 .uz{background-position:-160px -300px;}
.f32 .vu{background-position:-192px -300px;}
.f32 .ve{background-position:-230px -315px;}
.f32 .vn{background-position:-256px -300px;}
.f32 .vi{background-position:-288px -300px;}
.f32 .eh{background-position:-320px -300px;}
.f32 .ye{background-position:-352px -300px;}
.f32 .zm{background-position:-384px -300px;}
.f32 .zw{background-position:-416px -300px;}