<header id="header" class="header-floating " data-plugin-options="{&#39;stickyEnabled&#39;: false, &#39;stickyEnableOnBoxed&#39;: false, &#39;stickyEnableOnMobile&#39;: false, &#39;stickyStartAt&#39;: 0, &#39;stickySetTop&#39;: &#39;60px&#39;, &#39;stickyChangeLogo&#39;: false}">
	<div class="header-body">
		<div class="header-container container">
			<div class="header-row">
				<div class="header-column">
					<div class="header-row">
						<div class="header-nav pt-xs">
							<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
								<i class="fa fa-bars"></i>
							</button>
							<div class="header-nav-main collapse">
								<nav class="wrapper-spy">
									<ul class="nav" id="mainNav">
										<li class="active" >
											<a data-hash="" class="font-color" ng-click="click('#about-me')">
												<i class="icon-home icons"></i>
												<span class="custom-tooltip" ng-bind="'about me' | translate "></span>
											</a>
										</li>
										<li>
											<a data-hash="" class="font-color" ng-click="click('#experience')">
												<i class="icon-eye icons"></i>
												<span class="custom-tooltip" ng-bind="'Experience' | translate"></span>
											</a>
										</li>
										<li>
											<a data-hash="" class="font-color" ng-click="click('#education')">
												<i class="icon-briefcase icons"></i>
												<span class="custom-tooltip" ng-bind="'Education' | translate "></span>
											</a>
										</li>
										<li>
											<a data-hash="" class="font-color" ng-click="click('#course')">
												<i class="fa fa-edit icons"></i>
												<span class="custom-tooltip" ng-bind="'Course' | translate ">Course</span>
											</a>
										</li>
										<li>
											<a data-hash="" class="font-color" ng-click="click('#skills')">
												<i class="icon-graduation icons" class="font-color"></i>
												<span class="custom-tooltip" ng-bind="'Skills' | translate "></span>
											</a>
										</li>
										<li>
											<a data-hash="" class="font-color" ng-click="click('#portfolio')">
												<i class="icon-diamond icons"></i>
												<span class="custom-tooltip" ng-bind="'Portfolio' | translate "></span>
											</a>
										</li>
													<!--<li>
														<a data-hash="" href="#recommendations" class="font-color">
															<i class="icon-pencil icons"></i>
															<span class="custom-tooltip">Recommendations</span>
														</a>
													</li> -->
													<li>
														<a data-hash="" class="font-color" ng-click="click('#blog')">
															<i class="icon-bubbles icons"></i>
															<span class="custom-tooltip">Blog</span>
														</a>
													</li>
													<li>
														<a data-hash="" class="font-color" ng-click="click('#say-hello')">
															<i class="icon-envelope-open icons"></i>
															<span class="custom-tooltip" ng-bind="'Say Hello' | translate ">Say Hello</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</header>
