<div class="body">
	<menu-custom></menu-custom>
	<div role="main" class="main">
		<div style="background: #999;">
		</div>
			<div class="index" style="color:white;position:fixed;">a</div>
		<section id="about-me" class="section section-no-border section-parallax custom-section-padding-1 custom-position-1 custom-xs-bg-size-cover m-none" data-plugin-parallax="" >
			<div class="parallax-background"></div>
			<div id="particles-js" class="particle-cloud"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4 col-sm-4 col-xs-10 col-sm-offset-0 col-xs-offset-1 custom-sm-margin-bottom-1">
							<img src="{{(vm.users.image) ? vm.users.image : './assets/img/jpg/profile.jpg'}}" class="img-responsive custom-border custom-image-position-2 custom-box-shadow-4 img-about" style="height:300px;">
						</div>
						<div class="col-md-5 col-sm-8" style="text-align: center">
							<h1 class="text-color-primary custom-font-size-1" ng-bind="vm.users.first_name+' '+vm.users.last_name"></h1>
							<p class="custom-text position-dev" ng-bind="vm.users.position.name">Backend</p>
							<span class="custom-about-me-infos">
							<span class="custom-text-color-1 text-uppercase" ng-bind="vm.users.city.name+' '+vm.users.city.state.name+' '+vm.users.city.state.country.name"></span>
								<span class="label label-default text-uppercase mb-md" ng-bind="vm.users.position.resumen"></span>
								<!-- <span class="custom-text-color-1 text-uppercase">
									<div class="col-md-12">
										
									</div>
								<div class="col-md-6" ng-repeat="lan in vm.users.user_language">

								</div>	
								</span> -->
								<span class="form-group custom-text-color-1 text-uppercase" >
										<span class="title-lng" ng-bind="'Language' | translate"></span>
										<a data-hash="" href="#experience" class="label label-default noMP text-uppercase custom-btn-style-1 text-xs ml-sm" ng-bind="'About Me' | translate" ng-click="vm.click1('#other-about')"></a>
										<a data-hash="" ng-click="vm.click1('#say-hello')" ng-bind="'Our Team' | translate" class="label label-default noMP text-uppercase custom-btn-style-1 text-xs ml-sm"></a>
								</span>
								<span class="row" >
								<button class="btn btn-primary">About me</button>
								<button class="btn btn-primary">Our team</button>
								</span>
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<img src="./assets/img/png/cloud.png" class="img-responsive img-cloud">
						</div>							
					</div>
				</div>
			</div>
			<ul class="social-icons custom-social-icons">
				<li class="social-icons-facebook" ng-if="vm.users.linkedin" >
					<a ng-href="{{vm.users.linkedin}}" target="_blank" title="Linkedin">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li class="social-icons-twitter" ng-if="vm.users.twitter">
					<a ng-href="{{vm.users.twitter}}" target="_blank" title="Twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li class="social-icons-youtube" ng-if="vm.users.youtube">
					<a ng-href="{{vm.users.youtube}}" target="_blank" title="Youtube">
						<i class="fa fa-youtube"></i>
					</a>
				</li>
			</ul>
		</section>


		<div class="custom-about-me-links">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-offset-4 col-sm-4 center custom-xs-border-bottom p-none">
						<a data-hash="" href="#" ng-click="vm.click1('#say-hello')" class="text-decoration-none">
							<span class="custom-nav-button text-color-dark">
								<i class="icon-earphones-alt icons text-color-primary"></i>
								<text ng-bind="'Contact Information' | translate"></text>
							</span>
						</a>
					</div>
					<div class="col-md-2 col-sm-4 center custom-xs-border-bottom p-none">
						<a data-hash="" href="#" class="text-decoration-none" ng-click="vm.click1('#say-hello')">
							<span class="custom-nav-button custom-divisors text-color-dark">
								<i class="icon-envelope-open icons text-color-primary"></i>
								<text ng-bind="'Send Message' | translate"></text>
							</span>
						</a>
					</div>
					<div class="col-md-3 col-sm-4 center p-none">
						<a class="text-decoration-none" ng-class="{'not-active': !vm.users.curriculum}" ng-href="{{vm.users.curriculum}}">
							<span class="custom-nav-button text-color-dark">
								<i class="icon-cloud-download icons " ng-class="{'not-active': !vm.users.curriculum, 'text-color-primary': vm.users.curriculum}"></i>
								<text ng-bind="'Download Resume' | translate"></text>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<section id="other-about" class="section section-no-border background-color-light m-none">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="custom-box-details background-color-light custom-box-shadow-1 col-md-6 ml-xlg mb-xlg pull-right clearfix">
							<h4 ng-bind="'Personal Details' | translate">Personal Details</h4>
							<div class="col-md-6 col-sm-6 p-none">
								<ul class="custom-list-style-1 p-none">
									<li ng-hide="!vm.users.birthday">
										<span class="text-color-dark"  ng-bind="'Birthday' | translate" ></span>
										<span class="custom-text-color-2" ng-bind="vm.users.birthday"></span>
									</li>
									<li>
										<span class="text-color-dark" ng-bind="'Marital' |  translate"></span>
										<span class="custom-text-color-2" ng-bind="'Single' | translate"></span>
									</li>
									<li>
										<span class="text-color-dark" ng-bind="'Nationality' | translate"></span>
										<span class="custom-text-color-2" ng-repeat="nat in vm.users.user_nationality"><text ng-bind="nat.name"></text></span>
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-6 p-none">
								<ul class="custom-list-style-1 p-none">
									<li ng-hide="!vm.users.skype">
										<span class="text-color-dark">Skype:</span>
										<span class="custom-text-color-2"><a class="custom-text-color-2"><label ng-bind="vm.users.skype"></label></a></span>
									</li>
									<li ng-hide="!vm.users.phone">
										<span class="text-color-dark" ng-bind="'Phone' | translate"></span>
										<span class="custom-text-color-2" ng-bind="vm.users.phone"></span>
									</li>										
								</ul>
							</div>
							<div class="col-md-12 col-sm-12 p-none">
								<ul class="custom-list-style-1 p-none">
									<li ng-hide="!vm.users.email">
										<span class="text-color-dark" ng-bind="'Email' | translate"></span>
										<span class="custom-text-color-2"><a class="custom-text-color-2"><label ng-bind="vm.users.email"></label></a></span>
									</li>
								</ul>
							</div>
						</div>

						<h2 class="text-color-quaternary font-weight-extra-bold text-uppercase" ng-bind="'about me' | translate" ng-hide="!vm.users.about_me"></h2>

						<p class="custom-text-color-2" ng-bind="vm.users.about_me"></p>

						<div class="about-me-more" id="aboutMeMore">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida. Vivamus vitae dui non lorem euismod pretium. Morbi congue sem sed ex iaculis, nec mattis felis pretium. Nullam molestie libero id odio blandit sodales. Suspendisse non mauris et felis molestie placerat aliquet a risus. Aliquam ac leo tempus, hendrerit eros mollis, gravida est.</p>

							<p>Proin euismod ipsum a tellus condimentum dapibus. Integer porttitor felis elit, eget rutrum ligula commodo quis. Praesent ultricies neque eu mi congue blandit. Nulla feugiat feugiat aliquet. Morbi sed mattis erat. Nullam scelerisque molestie eros, id tristique felis iaculis non. Duis pellentesque neque eget iaculis varius. Donec at nisl semper, aliquam est id, tincidunt lacus. Donec at erat purus.</p>

							<p>Morbi tincidunt nunc non diam porta, at fermentum orci bibendum. Donec arcu nisi, ornare nec commodo vitae, sollicitudin sed magna. Cras sit amet justo et nulla pulvinar laoreet. Phasellus scelerisque, metus id posuere vulputate, diam tellus iaculis sapien, eget scelerisque ipsum libero convallis velit. Duis lorem ligula, faucibus quis tellus nec, fringilla ultricies leo. Etiam tempus congue magna. Suspendisse porta dictum tortor, eu volutpat ipsum eleifend nec. Aliquam dapibus lorem luctus, cursus libero imperdiet, mattis nunc. Sed in ipsum diam. Quisque efficitur metus purus, vitae fermentum lacus venenatis id.</p>
						</div>
						<!-- <a id="aboutMeMoreBtn" class="label label-default text-uppercase custom-btn-style-1 text-xs" ng-click="vm.show=!vm.show">Contact me</a> -->
					</div>
				</div>
			</div>
		</section>

		<section id="experience" class="section section-secondary section-no-border m-none" ng-hide="vm.showExp">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-color-quaternary text-uppercase font-weight-extra-bold" ng-bind="'Experience' | translate"></h2>
						<section class="timeline custom-timeline" id="timeline">
							<div class="timeline-body">

								<!-- EXP -->
								<article class="timeline-box right custom-box-shadow-2" ng-repeat="ex in vm.users.user_experience">
									<div class="experience-info col-md-3 col-sm-5 background-color-primary">
										<span class="from text-color-dark text-uppercase">
											<text ng-bind="'From' | translate"></text>
											<span class="font-weight-semibold" ng-bind="ex.start_date | date">Sep 2012</span>
										</span>
										<span class="to text-color-dark text-uppercase">
											<text ng-bind="'To' | translate"></text>
											<span class="font-weight-semibold" ng-bind="ex.ending_date | date">Present</span>
										</span>
										<p class="text-color-dark" ng-bind="ex.time"></p>
										<span class="company text-color-dark font-weight-semibold"><label ng-bind="ex.company.name"></label>		
											<span class="company-location text-color-dark font-weight-normal text-uppercase" ng-bind="ex.company.address"></span>
										</span>
									</div>
									<div class="experience-description col-md-9 col-sm-7 match-height background-color-light" style="height: 244px;">
										<h4 class="text-color-dark font-weight-semibold" ng-bind="ex.position.name"></h4>
										<p class="custom-text-color-2" ng-bind="ex.description" style="word-wrap:break-word;"></p>
									</div>
								</article>									
								<div class="timeline-bar" style="top: 137px; bottom: 137px;"></div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>			
		<section id="education" class="section section-no-border custom-background-color-1 m-none" ng-hide="vm.showEdu">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-none" ng-bind="'Education' | translate">Education</h2>
						<div class="owl-carousel row owl-education" style="padding:40px;">
							<div class="item" style="width: 420px;" ng-repeat="e in vm.users.user_education">
								<div class="panel panel-default item-box">
									<div class="panel-body">
										<p><i class="icon-graduation icons text-color-primary"></i><br>
											<span ng-bind="e.education.name" class="title"></span><br>
											<span ng-bind="e.institute.name"></span><br>
											<span class="years" ng-bind="e.start_date | date"></span> - <span class="years" ng-bind="e.ending_date | date"></span>
										</p>
									</div>
								</div>		    	
							</div>												
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="course" class="section section-no-border custom-background-color-1 m-none" ng-hide="vm.showCou">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-none" ng-bind="'Course' | translate">Course</h2>
						<div class="carousel-wrap">
							<div class="owl-carousel owl-carousel1">
								<div class="item item-course" ng-repeat="c in vm.users.user_course">
									<div class="panel panel-primary sha">
										<div class="panel-heading">
											<i class="fa fa-book"></i><span ng-bind="c.course.name"></span>
										</div>
										<div class="panel-body" style="min-height:150px;">
											<p ng-bind="c.institute.name+' '+c.institute.address"></p>	
											<p ng-bind="c.start_date+' - '+c.ending_date" class="pull-right years"></p>			
										</div>
									</div>									
								</div>									
							</div>
						</div>												
					</div>
				</div>
			</div>
		</section>

		<section id="skills" class="section section-no-border background-color-light m-none" ng-hide="vm.showSki">
			<div class="container">
				<h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-none" ng-bind="'Skills' | translate">Skill</h2>
				<div class="row custom-sm-flex-order">
					<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="progress-bars custom-progress-bars" ng-repeat="skill in vm.users.user_skill" data-appear-top-offset="1400">
						<div class="progress-label text-color-dark font-weight-semibold text-uppercase text-sm">
							<span ng-bind="skill.name"></span>
						</div>
						<div class="progress">
							<div class="myBar" data-width-animation="{{skill.level.name}}"></div>
						</div>
					<!--  <div class="col-md-6" ng-repeat="skill in vm.users.user_skill">
						<label ng-bind="skill.name"></label>
						<div class="myProgress">
							<div class="myBar progress-bar-tooltip" data-width-animation="{{skill.level.name}}" data="{{skill.level.name}}" style="width:{{skill.level.name}}%"></div>
						</div> -->
					</div>		
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="custom-box-details background-color-light custom-box-shadow-1">
							<h4 class="text-color-dark " ng-bind="'Languages' | translate"></h4>
							<ul class="custom-list-style-1 p-none">
								<li ng-repeat="lan in vm.users.user_language">
									<span class="font-weight-semibold custom-max-width-1 text-color-dark"><img src="./assets/img/gif/blank.gif" class="flag-icon flag-icon-us" alt="English" ><label ng-bind="lan.name"></label></span>
									<span class="custom-text-color-2" ng-bind="lan.level.name"></span>
									<span class="flag-icon-us"></span>
								</li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio" class="section section-no-border background-color-secondary m-none" ng-hide="vm.showPort">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-color-quaternary font-weight-extra-bold text-uppercase" ng-bind="'Portfolio' | translate"></h2>
						<ul class="nav nav-pills sort-source custom-nav-sort mb-xlg" data-sort-id="portfolio" data-option-key="filter">
							<li data-option-value="*" class=""><a href="" ng-click="vm.label=$" ng-bind="'Show All' | translate"></a></li>
							<li ng-repeat="c in vm.classi" ng-click="vm.label=c.name"><a href="" ng-bind="c.name"></a></li>
							
							<!--<li data-option-value=".websites" ng-click="vm.test =! vm.test"><a href="">Websites</a></li>
							<li data-option-value=".logos"><a href="">Logos</a></li>
							<li data-option-value=".brands"><a href="">Brands</a></li> -->
						</ul>
						<div class="row">
							<div class="sort-destination-loader sort-destination-loader-loaded">
								<div class="col-md-4" ng-repeat="port in vm.users.user_portfolio | filter:vm.label ">
								<div class="image-gallery-item animation-portf" >
										<a class="lightbox-portfolio" style="height: 240px;">
											<span class="thumb-info custom-thumb-info-1">
												<span class="thumb-info-wrapper">
													<span class="word-portfolio">
														<p class="text-portfolio" ng-bind="port.name"></p>
													</span>
													<img src="{{port.image}}" class="img-responsive" alt="">
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
<!--
			<section id="recommendations" class="section section-no-border background-color-primary m-none">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Recommendations</h2>
						</div>
						<div class="col-md-12 p-none">
							<div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-position-1 mb-none owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{&#39;items&#39;: 1, &#39;autoHeight&#39;: true, &#39;loop&#39;: false, &#39;nav&#39;: false, &#39;dots&#39;: true}">
								
								
							<div class="owl-stage-outer owl-height" style="height: 167px;"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1940px;"><div class="owl-item active" style="width: 970px;"><div>
									<div class="col-md-12">
										<div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-none">
											<blockquote class="pb-sm">
												<p class="custom-text-color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida.</p>
											</blockquote>
											<div class="testimonial-author pull-left">
												<p><strong class="text-uppercase">Bob Doe</strong><span class="custom-text-color-3">Director of Engineering</span></p>
											</div>
										</div>
									</div>
								</div></div><div class="owl-item" style="width: 970px;"><div>
									<div class="col-md-12">
										<div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-none">
											<blockquote class="pb-sm">
												<p class="custom-text-color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida.</p>
											</blockquote>
											<div class="testimonial-author pull-left">
												<p><strong class="text-uppercase">Bob Doe</strong><span class="custom-text-color-3">Director of Engineering</span></p>
											</div>
										</div>
									</div>
								</div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
						</div>
					</div>
				</div>
			</section>
		-->
		<section id="blog" class="section section-no-border background-color-light m-none">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">My Blog</h2>
					</div>
					<div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 custom-sm-margin-bottom-1">
						<article class="thumb-info custom-thumb-info-2 custom-box-shadow-1 appear-animation animated" data-appear-animation="fadeIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">
							<span class="thumb-info-wrapper">
								<a href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#">
									<img src="./assets/img/jpg/blog-1.jpg" alt="" class="img-responsive">
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text">
									<h4 class="mb-sm">
										<a href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" class="text-decoration-none text-color-dark font-weight-semibold">
											Design Driven
										</a>
									</h4>
									<p class="custom-text-color-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapib...</p>
								</span>
								<hr class="solid m-none mt-xlg mb-sm">
								<span class="custom-blog-post-date text-uppercase font-weight-semibold text-color-dark">
									July 12-2017
								</span>
								<span class="custom-blog-post-share text-uppercase font-weight-semibold text-color-dark">
									Share:
									<ul>
										<li>
											<a class="item-facebook text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Facebook">Facebook</a>
										</li>
										<li>
											<a class="item-twitter text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Twitter">Twitter</a>
										</li>
										<li>
											<a class="item-google-plus text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Google Plus">Google Plus</a>
										</li>
									</ul>
								</span>
							</span>
						</article>
					</div>
					<div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0">
						<article class="thumb-info custom-thumb-info-2 custom-box-shadow-1 appear-animation animated" data-appear-animation="fadeIn" data-appear-animation-delay="0" data-appear-animation-duration="1s">
							<span class="thumb-info-wrapper">
								<a href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#">
									<img src="./assets/img/jpg/blog-2.jpg" alt="" class="img-responsive">
								</a>
							</span>
							<span class="thumb-info-caption">
								<span class="thumb-info-caption-text">
									<h4 class="mb-sm">
										<a href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" class="text-decoration-none text-color-dark font-weight-semibold">
											UI, UX Concepts
										</a>
									</h4>
									<p class="custom-text-color-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique...</p>
								</span>
								<hr class="solid m-none mt-xlg mb-sm">
								<span class="custom-blog-post-date text-uppercase font-weight-semibold text-color-dark">
									July 12-2017
								</span>
								<span class="custom-blog-post-share text-uppercase font-weight-semibold text-color-dark">
									Share:
									<ul>
										<li>
											<a class="item-facebook text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Facebook">Facebook</a>
										</li>
										<li>
											<a class="item-twitter text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Twitter">Twitter</a>
										</li>
										<li>
											<a class="item-google-plus text-decoration-none" href="http://preview.oklerthemes.com/porto/5.7.2/demo-resume.html#" title="Share on Google Plus">Google Plus</a>
										</li>
									</ul>
								</span>
							</span>
						</article>
					</div>
					<div class="col-md-12 col-sm-12 pt-xlg mt-xlg center">
						<a class="btn btn-primary btn-borders text-color-dark custom-btn-style-2 font-weight-bold custom-border-radius-1 text-uppercase">View All</a>
					</div>
				</div>
			</div>
		</section>

		<div id="say-hello" class="container-fluid">
			<div class="row">
				<div class="col-md-6 p-none">
					<section class="section section-no-border match-height background-color-primary m-none" style="height: 434px;">
						<div class="row m-none">
							<div class="col-half-section col-half-section-right mr-md">
								<h2 class="text-color-quaternary text-uppercase font-weight-extra-bold" ng-bind="'Say Hello' | translate"></h2>
								<form id="callSendMessage" class="custom-form-style" novalidate="novalidate">
									<div class="form-content">
										<div class="form-control-custom">
											<input type="text" class="form-control contact-name" name="callName" placeholder="{{ 'Your Name' | translate }} *" data-msg-required="This field is required." id="callName" required="" aria-required="true" ng-model="vm.contact.name">
										</div>
										<div class="form-control-custom">
											<input type="text" class="form-control contact-subject" name="callSubject" placeholder="{{'Subject'|translate}} *" data-msg-required="This field is required." id="callSubject" required="" aria-required="true" ng-model="vm.contact.subject">
										</div>
										<div class="form-control-custom">
											<input type="text" class="form-control contact-email" name="callEmail" placeholder="{{'Email'|translate}} *" data-msg-required="This field is required." id="callSubject" required="" aria-required="true" ng-model="vm.contact.email">
										</div>										
										<div class="form-control-custom">
											<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control contact-message" name="message" placeholder="{{'Message' | translate}} *" id="message" required="" aria-required="true" ng-model="vm.contact.message"></textarea>
										</div>
										<button class="btn btn-quaternary text-color-light text-uppercase font-weight-semibold outline-none custom-btn-style-2 custom-border-radius-1" ng-click="vm.sendMessage()" ng-bind="'Submit' | translate"></button>
									</div>
								</form>
							</div>
						</div>
					</section>
				</div>
				<div class="col-md-6 p-none">
					<section class="section section-no-border match-height m-none" style="background: url(&quot;./assets/img/jpg/contact-bg-1.jpg&quot;) 0% 0% / cover; height: 434px;">
						<div class="row m-none">
							<div class="col-half-section col-half-section-left ml-md">
								<a href="mailto:you@domain.com" class="text-decoration-none">
									<span class="feature-box custom-feature-box mb-xlg">
										<span class="custom-feature-box-icon">
											<i class="icon-envelope icons text-color-light"></i>
										</span>
										<span class="feature-box-info">
											<label class="font-weight-semibold text-uppercase custom-text-color-1" ng-bind="'Email' | translate"></label>
											<strong class="font-weight-light text-color-light custom-opacity-effect-1" ng-bind="vm.users.email"></strong>
										</span>
									</span>
								</a>
								<a href="tel:+1234657890" class="text-decoration-none">
									<span class="feature-box custom-feature-box mb-xlg">
										<span class="custom-feature-box-icon">
											<i class="icon-phone icons text-color-light"></i>
										</span>
										<span class="feature-box-info">
											<label class="font-weight-semibold text-uppercase custom-text-color-1" ng-bind="'Phone' | translate"></label>
											<strong class="font-weight-light text-color-light custom-opacity-effect-1" ng-bind="vm.users.phone"></strong>
										</span>
									</span>
								</a>
								<a href="skype:yourskype?chat" class="text-decoration-none">
									<span class="feature-box custom-feature-box mb-xlg">
										<span class="custom-feature-box-icon">
											<i class="icon-social-skype icons text-color-light"></i>
										</span>
										<span class="feature-box-info">
											<label class="font-weight-semibold text-uppercase custom-text-color-1">Skype</label>
											<strong class="font-weight-light text-color-light custom-opacity-effect-1" ng-bind="vm.users.skype"></strong>
										</span>
									</span>
								</a>
								<span class="feature-box custom-feature-box mb-xlg">
									<span class="custom-feature-box-icon">
										<i class="icon-share icons text-color-light"></i>
									</span>
									<a href="{{vm.users.facebook}}" class="text-decoration-none">
										<span class="feature-box-info">
											<label class="font-weight-semibold text-uppercase custom-text-color-1" ng-bind="'Follow me' | translate"></label>
											<strong class="font-weight-light text-color-light custom-opacity-effect-1">Facebook</strong>
										</span>
									</a>
									<a href="{{vm.users.twitter}}" class="text-decoration-none">
										<span class="feature-box-info custom-both-side-border">
											<strong class="font-weight-light text-color-light custom-opacity-effect-1">Twitter</strong>
										</span>
									</a>
									<a href="{{vm.users.linkedin}}" class="text-decoration-none">
										<span class="feature-box-info p-none">
											<strong class="font-weight-light text-color-light custom-opacity-effect-1">Linkedin</strong>
										</span>
									</a>
								</span>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>		

		<footer id="footer" class="m-none p-none">
			<div class="footer-copyright background-color-light m-none">
				<div class="container">
					<div class="row">
						<div class="col-md-12 m-none">
							<p class="custom-text-color-2">© Copyright 2017. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
	</div>		


</div><!-- Style Switcher - Start -->


